@function v($var) {
  @return var(--#{$var});
}
:root{
  --barney: #d71b96;
  --greyish-brownr: #4d4d4d;
  --greyish: #b2b2b2;
  --hot-pink: #eb008b;
  --warm-purple: #652d90;
  --tb: #cd9a81;
  --warm-grey: #808080;
  --white: #f2f2f2;
  --black: #1a1a1a;
}
p,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
html{
  font-size: 10px;
}
body{
  background: #f7f7f7;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  color: var(--greyish-brownr);
}
.wrapper{
  width: 100%;
  overflow: hidden;
}
.navbar .brand img{height: auto;}
// ----------- header ------------ //
header{
  width: 100%;
  background: #fff;
  &.is-scroll{
    position: fixed;
    top: -40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: mvt .6s;
    z-index: 9;
  }
}
.topbar{
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
  .hotline{
    font-weight: 500;
    a{color: var(--barney);}
  }
  .link-social{
    a{color: #e5e5e5; font-size: 1.8rem;}
    a:hover{color: var(--greyish-brownr);}
  }
  .link{
    a{padding-left: 24px; color: var(--greyish);}
  }
}
.navbar-nav{
  a{padding: 0 12px; line-height: 2.2rem; color: var(--greyish-brownr); font-weight: 500;}
  a:hover{color: var(--barney);}
}
.navbar{
  padding: 0;
  .logo{
    position: relative;
    z-index: 9;
    img{max-width: 100%;}
  }
}

// --------- main ---------- //
section{
  .header{margin-bottom: 40px;}
  .title{display: block; text-align: center; color: var(--black); font-weight: 700;}
  .box-btn{text-align: center;}
  .btn-view-more{
    font-weight: 700;
  }
}
.slider_album_week{
  margin-top: 0;
  .item{position: relative;}

  .album__thumb img{border-radius: 4px;}
  .item:after{
    content: "";
    width: 100%; height: 100%; border-radius: 4px;
    position: absolute; top: 0; left: 0;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0), rgba(26, 26, 26, 0.7));
  }
  .detail{
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute; bottom: 0; left: 0;
    z-index: 2;
  }
  .info{
    font-weight: 500;
    .category{
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      font-size: 12px;
      color: var(--greyish);
      &:before{
        content: "";
        width: 30px; height: 2px; display: block;
        margin: 0 5px 4px 0;
        background: var(--greyish);
      }
    }
    .name{color: var(--white);}
  }
  .statistical{
    font-size: 1.2rem;
    color: var(--greyish);
    p{margin: 0 6px; display: flex; align-items: center;}
    ion-icon{margin-right: 3px;}
  }
  .author{
    a{color: var(--white);}
  }
  .slick-arrow{
    height: 100%;
    position: absolute; top: 0;
    background: rgba(#fff,.8);
  }
  .slick-next{right: 0;}
  .slick-left{left: 0;}
}
.author{
  align-items: center;
  &__img{width: 26px; height: 26px; margin-right: 3px;}
  img{border-radius: 50%; width: 100%; height: 100%; object-fit: cover;}
  h4, span{font-weight: 500;}
  h4{margin-bottom: -4px; font-size: 1.2rem;}
  h4 a{ color: var(--white);}
  &__info{
    span{color: var(--greyish); font-size: 1rem;}
  }
}
.album__tab,.tab_select_service{
  justify-content: center;
  a{
    display: inline-block;
    margin: 2px 0;
    border-radius: 4px;
    color: var(--greyish);
    font-size: 1.4rem; border: 1px solid var(--greyish);
  }
  li.active a{
    border: 1px solid transparent;
    background-image: linear-gradient(#fff,#fff),linear-gradient(81deg,#eb008b,#652d90);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-image-slice: 1;
    color: var(--barney);
  }
}


.album{
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid var(--white);
  &__header{
    align-items: flex-start;
    justify-content: space-between;
    padding: 7px 15px; background: var(--white);
    .price{font-size: 1.2rem; font-weight: 700; color: var(--barney);}
  }
  &__info{
    padding: 15px 8px 12px 15px;
    align-items: flex-end;
    justify-content: space-between;
    .price{font-size: 1.2rem; font-weight: 500; color: var(--greyish);}
    .price span{font-size: 1.4rem; font-weight: 700; color: var(--barney);}
  }
  .info{width: 100%;}
  .author{
    a{color: var(--greyish-brownr);}
  }
  .btn-book{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--greyish);
    ion-icon{margin-right: 5px;}
  }
  .category{
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--greyish);
    &:before{
      content: "";
      width: 30px; height: 2px; display: block;
      background: #e5e5e5; margin: 0 5px 4px 0;
    }
  }
  .name{
    display: block;
    margin: 5px 0 4px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--greyish-brownr);
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
  }
  .collection_name{
    margin: 8px 0 12px;
  }
  .like{
    align-items: center;
    font-size: 1.2rem;
    color: var(--greyish);
    ion-icon{margin-right: 3px;}
  }
  .statistical{
    p{display: flex; align-items: center; margin: 0 8px; font-size: 1.2rem; color: var(--greyish);}
    p:first-child{margin-left: 0;}
    ion-icon{margin-right: 3px;}
  }
  .btn-view-price{
    margin: 5px 0 0;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    border-radius: 2px;
    color: #fff;
    background-image: linear-gradient(81deg, var(--hot-pink), var(--warm-purple));
    span{padding: 4px 6px;}
  }
  .img-container{
    padding-bottom: 60%;
    img{position: absolute; border-radius: 3px;}
  }
  .thumb_album_love,.thumb_album{
    padding-bottom: 60%;
  }
  .thumb_album_makeup{
    padding-bottom: 55%;
  }
  .thumb_album_clothes{
    padding-bottom: 120%;
  }
  .thumb_video{
    &:before,&:after{content: ""; position: absolute; z-index: 9;}
    &:before{
      width: 100%; height: 100%;
      position: absolute; top: 0; left: 0;
      opacity: 0.8;
      background-image: linear-gradient(77deg, var(--hot-pink), var(--warm-purple));
      border-radius: 4px 4px 0 0;
    }
    &:after{
      width: 64px; height: 48px;
      background: url("#{$img-path}/icon_video.png") no-repeat 0 0/contain;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    }
  }
}
.photography{
  .slick-arrow{
    background: rgba(#1a1a1a,.3);
    &:after{
      content: "";
      display: block;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
      background: url("#{$img-path}/icon_nav.png") no-repeat 0 0/contain;
    }
  }
  .slick-next{right: 0;}
  .slick-prev{left: 0; transform: rotate(180deg);}
}
.makeup{
  .album{
    .name{margin-top: 0;}
  }
}
.clothes{
  .album .name{font-size: 1.8rem; margin: 10px 0 0;}
}

// --------- category ----- //
.profile{
  &_inner{
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 4px;
  }
  .name,.address,.service{display: block; text-align: center;}
  .name{margin: 12px 0 8px; color: var(--black); font-size: 2.4rem; font-weight: 700;}
  .avatar{
    width: 120px; height: 120px; margin: 0 auto;
    img{border-radius: 50%; width: 100%; height: 100%; object-fit: cover;}
  }
  .service,.address{color: var(--greyish); font-weight: 500; line-height: 2rem;}
  .address{margin-top: 24px;}
  .statistical{
    margin-top: 20px;
    color: var(--greyish);
    h5{display: flex; align-items: center;}
    span{font-weight: 700; color: var(--greyish-brownr);}
    ion-icon{margin-right: 17px; font-size: 2.4rem;}
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
    }
    li:nth-child(3),li:nth-child(4){
      padding: 15px 0;
      span{font-size: 1.8rem;}
    }
  }
  .btns{margin-bottom: 20px; text-align: center;}
  .btn{
    font-size: 1.8rem;
    margin: 40px auto 0;
    ion-icon{margin-right: 10px; font-size: 1.8rem;}
    span{display: flex; align-items: center; padding: 15px 32px;}
  }
}
.filter{
  margin-left: auto;
  align-items: center;
  color: var(--greyish-brownr);
  &_item{margin: 5px 15px; align-items: center;}
  h5{margin-right: 8px; font-size: 14px;}
  select{background: none; border: none; font-weight: 700;}
}
.item_service{
  margin-bottom: 30px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.author_service{
  h3 a{color: var(--black); font-weight: 700;}
  h3 a:hover{color: var(--barney);}
  p{color: var(--greyish); font-weight: 500; line-height: initial;}
  span{font-weight: 700;}
}
.package_photo{
  justify-content: space-between;
  h3{margin-bottom: 4px; font-size: 1.8rem; font-weight: 700;}
  .btn-view{
    display: inline-block; margin-bottom: 22px;
    border-bottom: 1px solid;
    font-size: 1.2rem; font-weight: 500; color: var(--greyish);
    &:hover{color: var(--barney); border-bottom: 1px solid;}
    }
  .package{
    padding: 26px 0 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: calc(50% - 15px);
    text-align: center;
  }
  .info{
    p:first-child{
      font-size: 1.8rem; font-weight: 500; color: var(--greyish);
      span{color: var(--greyish-brownr); margin-left: 0;}
    }
    .price{color: var(--barney); font-size: 2.4rem; font-weight: 700;}
    p{padding: 17px 0; border-top: 1px solid #f2f2f2; font-weight: 700; line-height: 2.2rem;}
  }
  .book{
    padding: 17px 0;
    border-top: 1px solid #e5e5e5;
    ion-icon{font-size: 3.6rem; color: #e5e5e5; cursor: pointer;}
    ion-icon:hover{color: var(--barney);}
    &.active .btn_book{
      transform: translateY(0) translateX(-50%);
      opacity: 1;
      visibility: visible;
    }
  }
  .btn_book{
    display: block;
    width: 111px;
    height: 34px;
    opacity: 0;
    visibility: hidden;
    color: var(--white-two);
    line-height: 34px;
    box-shadow: 10px 20px 30px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(20px) translateX(-50%);
    transition: 0.3s;
    position: absolute;
    left: 50%;
    bottom: 60px;
    z-index: 9;
    &:after{
      content: "";
      border-width: 12px;
      border-style: solid;
      border-color: #aa1d8d transparent transparent transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -24px;
    }
    span{
      display: block;
      width: 100%;
      height: 100%;
      margin-left: 0;
      color: #fff;
      border-radius: 4px;
      background-image: linear-gradient(81deg, #eb008b, #652d90);
      position: relative;
      z-index: 4;
    }
  }
}
.tab_content{
  .comment{
    &_list{
      background: #fff;
      li{display: flex; flex-wrap: wrap; padding: 24px; border-bottom: 1px solid #e5e5e5;}
      .author{width: 175px; padding-right: 7px;}
      .content{width: calc(100% - 175px);}
      .content p{font-size: 14px; font-weight: 400; line-height: 22px;}
      time{display: block; margin-top: 5px; font-size: 12px; color: var(--greyish);}
    }
    &_box{
      background: #fff;
      padding: 24px;
      h4{margin-bottom: 8px; font-size: 24px; font-weight: bold; color: var(--black);}
      h5{margin-bottom: 15px; font-size: 14px; color: var(--greyish-brown); line-height: 22px; text-align: center;}
      form{max-width: 530px; margin: 0 auto;}
      .group_submit{text-align: right;}
      textarea{
        width: 100%; height: 155px;
        background: #f7f7f7;
        margin: 20px 0 16px 0;
        padding: 15px; 
        border: 1px solid #e5e5e5; border-radius: 4px;
        color: var(--greyish-brownr);
        font-size: 14px;
      }
      textarea:focus{outline: none;}
      .btn-submit{ @extend %input_submit; padding: 0; width: 132px; height: 42px;}
    }
    .author_info{
      color: var(--greyish-brownr);
      span{display: block;}
      .name{font-size: 18px; line-height: 22px; font-weight: 500;}
      .address{font-size: 12px; margin-top: 2px; color: var(--greyish);}
      img{width: 40px; height: 40px; margin-right: 4px; object-fit: cover;}
    }
  }
  .rateing{
    width: 115px; height: 19px; margin-top: 15px; background: url("#{$img-path}/ratting1.png") no-repeat;
    .value{height: 100%; background: url("#{$img-path}/ratting.png") no-repeat;}
  }
  .rateing-user{
    display: block;
    font-size: 0;
    white-space: nowrap;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url("#{$img-path}/start3.png");
    background-size: contain;
    input{
      opacity: 0;
      display: inline-block;
      width: 10%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 2;
      position: relative;
    }
     i{
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 10%;
      z-index: 1;
      background: url("#{$img-path}/start2.png");
    
    }
    input:checked+i, input:hover+i {
      opacity: 1;
    }
     i~i {
      width: 20%;
    }
    i~i~i {
      width: 30%;
    }
    i~i~i~i {
      width: 40%;
    }
    i~i~i~i~i {
      width: 50%;
    }
    i~i~i~i~i~i {
      width: 60%;
    }
     i~i~i~i~i~i~i {
      width: 70%;
    }
     i~i~i~i~i~i~i~i {
      width: 80%;
    }
    i~i~i~i~i~i~i~i~i {
      width: 90%;
    }
    i~i~i~i~i~i~i~i~i~i {
      width: 100%;
    }
  }
}
.makeup_detail{
  display: block;
  background: #fff;
  padding: 32px 32px 0;
  border-radius: 4px;
  .info{
    .item{margin-bottom: 1.6rem;}
    .summary{width: calc(100% - 115px);}
    h5{width: 115px; padding-right: 15px; font-weight: 500; color: var(--greyish);}
    p span{color: var(--greyish-brownr);}
    p{color: #606060; line-height: 2rem;}
  }
  .table_ch{
    h4{color: var(--greyish); font-weight: 500;}
  
  }
  table{
    width: 100%; border-collapse: collapse;
    thead tr{border-bottom: none;}
    th{padding: 16px 0;}
    tr{border-bottom: 1px solid #e5e5e5;}
    td{padding: 20px 0; color: var(--greyish-brownr); font-weight: 500; line-height: 2.2rem;}
    thead{
      th:last-child{text-align: right;}
    }
    tbody{
      tr td:first-child{min-width: 50px;}
      tr td:last-child{color: var(--barney); font-weight: 700; text-align: right;}
    }
  }
}
.policy{
  margin-top: 65px;
  h2{margin-bottom: 37px; font-weight: 700; font-size: 3rem; color: #1a1a1a;}
  h4{margin-bottom: 1.6rem; display: block; color: var(--greyish-brownr); font-size: 1.8rem; font-weight: 500;}
  p{margin-bottom: 2rem; line-height: 19.6px; color: #606060;}
}

// ---------- popup -------- //
.popup-album{
  h4{font-size: 1.8rem; color: var(--greyish-brownr);}
  .modal-content{border: none; border-radius: 8px;}
  .gallery{
    background: var(--black);
  }
  .slick-arrow{
    background: url("#{$img-path}/icon_prev.png") no-repeat 0 0/contain;
    top: 50%; transform: translateY(-50%);
  }
  .slick-next{transform: translateY(-50%) rotate(180deg);}
  .comment{
    margin-top: 35px;
    .time{color: var(--greyish); font-size: 1.2rem;}
    .author{
      flex-direction: column;
      align-items: flex-start;
      &__img{width: 26px; height: 26px; display: block;}
      h3{margin-bottom: -4px; font-size: 1.2rem;}
      span{font-size: 1rem;}
      &__info{align-items: center;}
    }
    .info{padding: 0;}
    &__content{width: calc(100% - 120px);}
    &__form{
      margin-top: 55px;
      label{display: block; margin-bottom: 20px; font-size: 1.8rem; font-weight: 500; color: var(--greyish-brownr);}
      textarea{
        width: 100%; min-height: 160px; padding: 15px; color: var(--greyish-brownr);
        border-radius: 4px; background: #f7f7f7;
        border: 1px solid #e5e5e5;
      }
      .btn-submit{margin-top: 20px; width: 150px; height: 42px;}
    }
  }
  .title{font-weight: 700; color: var(--black);}
  .info{padding: 15px 0 30px; align-items: center;}
  .category,time{color: var(--greyish); margin-right: 30px;}
  .price,.amount{
    margin-right: 30px;
    color: var(--greyish-brownr);
    span{margin-left: 8px; font-weight: 700; font-size: 1.8rem; color: var(--barney);}
  }
  .author{
    margin-right: 22px;
    &__img{width: 40px; height: 40px; margin-right: 4px;}
    h3{font-size: 1.8rem; line-height: 2.2rem; color: var(--greyish-brownr); font-weight: 500;}
    a{color: var(--greyish-brownr);}
    span{font-size: 1.2rem;}
  }
  .buttons{
    margin: 10px 0;
    a{margin-right: 22px; font-size: 1.4rem; font-weight: 700;}
    a span{display: flex; align-items: center;}
    ion-icon{margin-right: 7px;}
    a:last-child{margin-right: 0;}
  }
  article{
    p{color: var(--greyish-brownr); margin-bottom: 1rem;}
  }
  .collection{
    h4{margin-bottom: 20px;}
    li{width: 50%; padding: 5px;}
    a{display: block; position: relative; padding-bottom: 60%;}
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border-radius: 4px;}
  }
  .statistical{
    width: 100%;
    color: var(--greyish);
    li:first-child ion-icon{color: var(--barney);}
    li{
      display: flex; width: 100%;
      border-bottom: 1px solid #f2f2f2;
      justify-content: space-between;
    }
    h5{display: flex; align-items: center;}
    ion-icon{font-size: 2.4rem; margin-right: 15px;}
    span{font-size: 1.8rem;}
  }
  .social{
    a{
      width: 30px; height: 30px;
      margin-right: 40px;
      display: flex; align-items: center; justify-content: center;
      color: var(--greyish);
      border-radius: 4px; border: 2px solid;
      font-size: 20px;
    }
  }
  .tag{
    margin: 50px 0 25px;
    h4{margin-bottom: 10px;}
    a{display: inline-block; padding: 5px 14px; margin: 5px; font-weight: 700; color: var(--greyish); border: 1px solid; border-radius: 4px;}
  }
}

// ----------- footer ------------ //
footer{
  margin-top: 50px;
  background: #fff;
  padding: 20px 0;
  .container{align-items: center; justify-content: space-between;}
  .text{text-align: center;}
  ion-icon{color: var(--barney);}
  .link-footer{
    justify-content: center;
    a{line-height: 2.2rem; color: var(--greyish-brownr);}
    a:hover{color: var(--barney);}
  }
}

// ------------ uikit ------------- //
.btn{
  padding: 0; border-radius: 4px;
}

.btn-primary{
  border: 2px solid transparent;
  background-image: linear-gradient(#fff,#fff),linear-gradient(81deg,#eb008b,#652d90);
  background-origin: border-box;
  background-clip: content-box,border-box;
  border-image-slice: 1;
  color: var(--barney);
  font-weight: 700;
  &:hover{
    border-image-slice: 1;
    background-image: linear-gradient(81deg, var(--hot-pink), var(--warm-purple)), linear-gradient(81deg, var(--hot-pink), var(--warm-purple));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 2px solid transparent;
  }
}
.btn-secondary{
  background: none;
  border: solid 2px var(--greyish);
  font-weight: 700;
  color: var(--warm-grey);
  &:hover{
    background: none;
    color: var(--greyish-brownr);
    border: 2px solid;
  }
}
.img-container{
  display: block;
  position: relative;
  img{display: block; width: 100%; height: 100%; object-fit: cover;}
}
.slick-arrow{
  position: absolute;
  font-size: 0; border: none;
  cursor: pointer;
  z-index: 2;
  &.slick-disabled{display: none !important;}
  &:focus{outline: none;}
}
.tab_line{
  margin-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
  a{display: block; color: var(--greyish); font-weight: 700; position: relative;}
  li.active{
    a{color: var(--greyish-brownr);}
    a:before{
      content:"";
      width: 100%; height: 1px;
      border-style: solid;
      border-width: 1px;
      border-image-source: linear-gradient(to right, var(--hot-pink), var(--warm-purple));
      border-image-slice: 1;
      position: absolute; bottom: -1px; left: 0;
    }
  }
}
.loading_more{
  width: 100%;
  text-align: center;
  .btn-loading{width: 160px; height: 42px; font-size: 1.4rem; line-height: 38px;}
}

.loading {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.loading-inner {
  height: 42px;
  display: inline-block;
  margin: 40px auto 0;
  border-radius: 4px;
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(82deg, #eb008b, #652d90);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
  color: var(--barney);
  transition: 0.25s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9; }
.loading span.name {
  padding-left: 18px; }
.loading .an-loading {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 18px; }
.loading .an-loading span {
  position: absolute;
  top: 22px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--barney);
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }
.loading .an-loading span:nth-child(1) {
  left: 0;
  animation: lds-ellipsis1 0.6s infinite; }
.loading .an-loading span:nth-child(2) {
  left: 0;
  animation: lds-ellipsis2 0.6s infinite; }
.loading .an-loading span:nth-child(3) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }
.loading .an-loading span:nth-child(4) {
  left: 20px;
  animation: lds-ellipsis3 0.6s infinite; }

.hidden_tab{
  opacity: 0; height: 0; visibility: hidden;
  > *{height: 0; overflow: hidden; z-index: 0; visibility: hidden}
}
.show_tab{
  opacity: 1; height: auto; z-index: 90; transform: translateY(0); transition: 0.6s; visibility: visible;
  > *{height: auto;  z-index: 9; visibility: visible}
}
%input_submit{
  border-radius: 4px;
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-weight: bold;
  color: var(--barney);
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(81deg, #eb008b, #652d90), linear-gradient(81deg, #eb008b, #652d90);
    color: #fff;
  }
}


@media (min-width: 320px) {
// ----------- header ------------ //
  header{
    &.is-scroll{
      .navbar{height: 60px;}
    }
  }
  .topbar{
    .link{display: none;}
  }
  .link-social{
    margin-left: auto;
    padding-right: 50px;
    li{margin: 0 8px;}
  }
  .navbar-toggler{
    width: 28px; height: 18px;
    padding: 0;
    position: absolute; right: 0; top: 50%; transform: translateY(-50%);
    span{display: block; width: 100%; height: 2px; background: var(--greyish-brownr); border-radius: 100px; position: absolute;}
    span:nth-child(1){top: 0;}
    span:nth-child(3){bottom: 0;}
    span:nth-child(2){top: 50%; transform: translateY(-50%);}
  }
  .navbar-nav{
    margin: 0 -15px;
    background: #fff;
    li{padding: 10px 0;}
    a{display: block; text-align: center;}
  }
  .navbar{
    height: 75px;
    .logo{max-width: 9rem;}
  }
  .user__action{
    a{margin: 0 5px;}
    a span{padding: 0 5px;}
    a:last-child{ margin-right: 0;}
    .btn-login{font-weight: 500; color: var(--greyish-brownr); line-height: 2.2rem;}
    a:last-child{margin-right: 0;}
  }
  .navbar-collapse{
    width: 100%;
    background: #fff;
    position: absolute; top: 0;
    z-index: 9;
  }

// --------- main ---------- //
  section{
    margin-top: 40px;
    .title{margin-bottom: 20px; font-size: 2.2rem;}
    .btn-view-more{
      span{display: block; padding: 10px 15px;}
      font-size: 1.4rem;
    }
  }
  .slider_album_week{
    .item{margin: 0 5px;}
    .album__thumb{
      padding-bottom: 60%;
      img{position: absolute; top: 0; left: 0;}
    }
    .statistical{padding: 5px 0;}
    .detail{justify-content: space-between; padding: 0 5px 10px;}
    .info{
      flex-basis: 100%;
      .name{font-size: 1.6rem;}
    }
    .slick-arrow{width: 20px;}
  }
  .album__tab,.tab_select_service{
    li{margin: 0 5px;}
    span{display: block; padding: 5px 12px; font-weight: 500;}
  }
  .tab_select_service{
    justify-content: flex-start;
    span{font-weight: 700;}
  }
  .photography{
    .slick-arrow{
      width: 50px; height: 50px; bottom: 91px;
      &:after{width: 13px; height: 22px;}
    }
  }
  .header_serivce{
    padding: 3.2rem 0;
  }

// --------- category ----- //
  .profile{
    &_inner{padding: 15px;}
    .btn span{padding: 1.5rem;}
  }
  
  .author_service{
    padding: 15px;
    p{margin: 5px 0;}
    .avatar{width: 80px; height: 80px;}
    .detail{width: calc(100% - 95px); padding-left: 15px;}
    .btns{
      a{margin: 5px 15px 5px 0; font-weight: 700;}
      a:last-child{margin-right: 0;}
      span{display: flex; align-items: center; padding: 6px 12px;}
      ion-icon{margin-right: 6px;}
    }
  }
  .slider_album{
    overflow: hidden;
    .thumb_slide{
      display: block; position: relative;
      img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border-radius: 4px;}
    }
    .slick-arrow{
      width: 32px; height: 80px;
      background: rgba(#000,.5) url(#{$img-path}/icon_nav.png) no-repeat center center;
      top: 50%; transform: translateY(-50%);
    }
    .slick-next{right: 8px;}
    .slick-prev{left: 8px; transform: translateY(-50%) rotate(180deg);}
  }
  .slider_album_clothes{
    margin-bottom: 15px;
    .item{padding: 0 8px;}
    .thumb_slide{
      padding-bottom: 150%;
    }
  }
  .slider_album_makeup,.slider_album_photo{
    margin: 0;
    .item{padding: 0 5px;}
    .thumb_slide{padding-bottom: 72%;}
    .slick-list{margin-right: 0;}
    .slick-arrow{height: 100%;}
    .slick-prev{border-radius: 0 4px 4px 0; left: 5px;}
    .slick-next{border-radius: 0 4px 4px 0; right: 5px;}
  }
  .service_makeup,.service_photo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .slider_album_makeup,.slider_album_photo{width: 100%;}
    .author_service{max-width: 475px;}
  }
  .package{
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    h4{font-size: 1.8rem; font-weight: 700; color: var(--greyish-brownr);}
    &__list{
      margin: 20px 0 0;
      width: 100%;
    }
    li{padding: 10px; margin: 4px 8px; color: var(--greyish-brownr); border: 1px solid var(--greyish); border-radius: 4px;}
    p{line-height: 22px; font-weight: 500;}
    span{color: var(--barney); margin-left: 5px; font-weight: 700;}
  }
  .package_header{
    width: 100%; height: 55px;
    margin-bottom: 29px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    h4{position: absolute; left: 50%; transform: translateX(-50%); padding: 0 75px; font-size: 1.8rem; font-weight: 700;}
    .btn-back{
      display: flex;
      align-items: center;
      color: var(--greyish);
      font-weight: 700;
      ion-icon{margin-right: 8px; font-size: 2.4rem;}
    }
  }
  .package_detail{
    .header{
      width: 100%;
      height: 80px;
      padding: 0 32px;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      background-image: linear-gradient(88deg, var(--hot-pink), var(--warm-purple));
    }
    h2{font-weight: 700; font-size: 2.4rem; color: #fff;}
    .btn_select_package{
      font-size: 1.8rem; font-weight: 700; color: rgba(247, 247, 247, .5);
      &:hover{color: #fff;}
    }
    ion-icon{font-size: 2.4rem; margin-right: 8px;}
    .info{
      font-size: 1.8rem; font-weight: 500;
      p{padding: 20px 32px;}
      .amout,.hand,.price{color: var(--greyish);}
      .amout{color: var(--greyish-brownr);}
      .hand span{font-weight: 700; font-size: 1.4rem; color: #652d90;}
      .price span{font-weight: 700; font-size: 2.4rem; color: var(--barney);}
    }
    .note{
      font-size: 1.2rem; font-weight: 500; color: var(--greyish-brownr);
      span{color: var(--barney);}
    }
    .note,.price{display: inline-block;}
  }

// --------- popup ---------- //
.popup-album{
  .modal-dialog{max-width: calc(100% - 10px);}
  .gallery{
    padding: 0 0 15px;
    .slick-arrow{width: 20px; height: 34px;}
    .slick-next{right: 12px;}
    .slick-prev{left: 12px;}
    .img-container{
      img{position: absolute; top: 0; left: 0;}
    }
    .slider-for{
      margin-bottom: 15px;
      .item{}
      .img-container{padding-bottom: 120%;}
      img{border-radius: 4px; margin: 0 auto;}
    }
    .slider-nav{
      width: 260px;
      margin: 0 auto;
      .item{display: block; margin: 0 5px; width: 30px; height: 40px;}
      .slick-track{display: flex; align-items: center;}
      .slick-current{
        width: 50px !important;
        height: 50px;
        .img-container{width: 50px; height: 50px; border: 1px solid #fff;}
      }
      .img-container{
        height: 40px;
      }
    }
    .item{
      position: relative;
    }
  }
  .col-right{width: 100%;}
  .title{font-size: 2.2rem;}
  .buttons{
    a span{padding: 6px 16px;}
  }
  .comment{
    .author{margin-right: 15px;}
  }
  .statistical{
    li{padding: 15px 0;}
  }
  .popup_info{
    justify-content: space-between;
    padding: 15px;
  }
}

// ----------- footer ------------ //
  footer{
    justify-content: center;
    .text{padding: 15px 0; flex-basis: 100%;}
    .logo-footer{flex-basis: 100%; text-align: center;}
    .link-footer{
      li{padding: 0 10px;}
    }
  }

// ---------- uikit ----------- //
  .mt40{margin-top: 20px;}
  .btn-primary,.btn-secondary{
    border-width: 1px;
    font-size: 1rem;
    &:hover{border-width: 1px;}
  }
  .tab_line{
    a{padding: 12px 15px; font-size: 1.6rem;}
  }
}

@media (min-width: 768px) {
  .slider_album_week{
    .slick-arrow{width: 50px;}
  }
  .popup-album{
    .gallery{
      .slider-for{
        .item{padding: 30px 70px 0;}
        .img-container{padding-bottom: 90%;}
      }
    }
  }
  .package{
    li{padding: 15px 20px;}
  }
}

@media (min-width: 1024px) {
  .navbar-toggler{display: none;}
  .navbar-collapse{
    width: auto;
    background: none;
    position: relative;
  }
  .topbar{
    .link{display: flex;}
    .link-social{
      margin-right: initial;
      padding-right: 0;
      position: absolute; left: 50%; transform: translateX(-50%);
    }
  }
  .navbar{
    .logo{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .slider_album_week{
    .slick-arrow{width: 78px;}
  }
// --------- category ----- //
  .author_service{
    .avatar{width: 120px; height: 120px;}
    .detail{width: calc(100% - 120px); padding-left: 20px;}
    h3 a{font-size: 2.4rem;}
    p{margin: 10px 0;}
    .btns{
      a{font-size: 14px;}
      ion-icon{font-size: 1.8rem;}
      span{padding: 10px 20px;}
    }
  }
  .slider_album{
    margin-bottom: 30px;
    .slick-arrow{height: 120px; opacity: 0; visibility: hidden; transition: transform .3s linear;}
    .slick-next{transform: translate(40px,-50%);}
    .slick-prev{transform: translate(-40px,-50%) rotate(180deg);}
    &:hover{
      .slick-arrow{opacity: 1; visibility: visible;}
      .slick-next,.slick-prev{transform: translate(0,-50%);}
      .slick-prev{transform: translate(0px,-50%) rotate(180deg);}
    }
  }
  .slider_album_makeup,.slider_album_photo{
    margin: 15px 0 0 0;
  }
  .service_makeup,.service_photo{
    .slider_album_makeup,.slider_album_photo{width: calc(100% - 475px);}
  }
  .package{
    margin-top: 0;
    span{margin-left: 20px;}
    &__list{
      margin: 0 0 0 16px;
      width: auto;
    }
  }


// --------- popup ----- //
  .popup-album{
    .col-left,.col-right{max-width: 48%;}
  }
  footer{
    justify-content: space-between;
    .logo-footer,.text{flex-basis: auto;}
    .text{padding: 0;}
  }
}

@media (min-width: 1200px) {
  header{
    &.is-scroll{
      .navbar{height: 8rem;}
      .navbar .logo{max-width: 110px;}
    }
  }
  .navbar{
    height: 12rem;
    .logo{max-width: 139px;}
  }
  .link-social{
    li{margin: 0 15px;}
  }
  .user__action{
    a{margin: 0 16px; font-size: 1.4rem;}
    a span{padding: 8px 22px;}
    .btn-login{margin-right: 0;}
  }
// --------- category ----- //
  .author_service{padding: 30px;}
  .slider_album_makeup,.slider_album_photo{
    margin: 30px 0 0 0;
    .slick-list{margin-right: -70px;}
    .slick-next{right: 0;}
    &:after{
      content: "";
      width: 100px; height: 100%;
      background: rgba(#fff,.7); position: absolute; right: 0; top: 0;
    }
  }
}


// ------------- animation ---------- //
@-webkit-keyframes mvt{
  0%{transform: translateY(-120px);}
  100%{transform: translateY(0);}
}
@keyframes mvt{
  0%{transform: translateY(-120px);}
  100%{transform: translateY(0);}
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }



