<footer>
    <div class="container flex">
        <a href="" title="" class="logo-footer"><img src="./assets/images/logo-gray.png" alt=""></a>
        <p class="text">Build by FullStackTeam with <ion-icon name="heart"></ion-icon></p>
        <ul class="link-footer flex">
            <li><a href="" title="Giới thiệu về Cheese">Giới thiệu về Cheese</a></li>
            <li><a href="policy.html" title="Điều khoản & Chính sách">Điều khoản & Chính sách</a></li>
            <li><a href="" title="Bảo mật">Bảo mật</a></li>
        </ul>
    </div>
</footer>