<header>
    <div class="container">
        <div class="topbar flex pr">
            <div class="hotline">
                <p>Hotline <span><a href="tel:024 6969 996">024 6969 996</a></span></p>
            </div>
            <ul class="link-social flex">
                <li><a href=""><i class="icon ion-logo-facebook"></i></a></li>
                <li><a href=""><i class="icon ion-logo-instagram"></i></a></li>
                <li><a href=""><i class="icon ion-logo-youtube"></i></a></li>
            </ul>
            <ul class="link flex">
                <li><a href="" title="Blog tin tức">Blog tin tức</a></li>
                <li><a href="" title="Hỗ trợ khách hàng">Hỗ trợ khách hàng</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu">
                <span></span><span></span><span></span>
            </button>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="navbar-nav">
                    <li><a href="service-photo-list.html" title="Thợ chụp hình">Thợ chụp hình</a></li>
                    <li><a href="service-makeup-list.html" title="Thợ trang điểm">Thợ trang điểm</a></li>
                    <li><a href="service-clothes-list.html" title="Thuê trang phục">Thuê trang phục</a></li>
                </ul>
            </div>
            <a href="/" class="logo"><img src="./assets/images/logo.png" alt=""></a>
            <div class="user">
                <div class="user__action flex">
                    <a href="" title="Đăng nhập" class="btn btn-login flex-center"><span>Đăng nhập</span></a>
                    <a href="" title="Đăng ký" class="btn btn-register btn-primary flex-center"><span>Đăng ký</span></a>
                    <a href="" title="Thợ/Shop đăng ký" class="btn btn-register btn-secondary flex-center"><span>Thợ/Shop đăng ký</span></a>
                </div>
                <div class="user__logged">

                </div>
            </div>
        </nav>
    </div>
</header>