<main>
    <section class="slider_album_week">
        <div class="item">
            <a href="javascript:;" class="album__thumb img-container"><img src="./assets/images/slide1.jpg" alt=""></a>
            <div class="detail flex">
                <div class="info">
                    <h5 class="category">Album đẹp của tuần</h5>
                    <h3><a href="javascript:;" class="name">Nàng thơ lơ ngơ bên cây mơ</a></h3>
                </div>
                <div class="statistical flex">
                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                </div>
                <div class="author flex">
                    <a href="" class="author__img img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                    <div class="author__info">
                        <h4><a href="">Long Kaido</a></h4>
                        <span>Hà Nội</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="album__thumb img-container"><img src="./assets/images/slide2.jpg" alt=""></a>
            <div class="detail flex">
                <div class="info">
                    <h5 class="category">Album đẹp của tuần</h5>
                    <h3><a href="javascript:;" class="name">Nàng thơ lơ ngơ bên cây mơ</a></h3>
                </div>
                <div class="statistical flex">
                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                </div>
                <div class="author flex">
                    <a href="" class="author__img img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                    <div class="author__info">
                        <h4>Long Kaido</h4>
                        <span>Hà Nội</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="album__thumb img-container"><img src="./assets/images/slide2.jpg" alt=""></a>
            <div class="detail flex">
                <div class="info">
                    <h5 class="category">Album đẹp của tuần</h5>
                    <h3><a href="javascript:;" class="name">Nàng thơ lơ ngơ bên cây mơ</a></h3>
                </div>
                <div class="statistical flex">
                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                </div>
                <div class="author flex">
                    <a href="" class="author__img img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                    <div class="author__info">
                        <h4>Long Kaido</h4>
                        <span>Hà Nội</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="album__thumb img-container"><img src="./assets/images/slide1.jpg" alt=""></a>
            <div class="detail flex">
                <div class="info">
                    <h5 class="category">Album đẹp của tuần</h5>
                    <h3><a href="javascript:;" class="name">Nàng thơ lơ ngơ bên cây mơ</a></h3>
                </div>
                <div class="statistical flex">
                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                </div>
                <div class="author flex">
                    <a href="" class="author__img img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                    <div class="author__info">
                        <h4><a href="">Long Kaido</a></h4>
                        <span>Hà Nội</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="javascript:;" class="album__thumb img-container"><img src="./assets/images/thumb10.jpg" alt=""></a>
            <div class="detail flex">
                <div class="info">
                    <h5 class="category">Album đẹp của tuần</h5>
                    <h3><a href="javascript:;" class="name">Nàng thơ lơ ngơ bên cây mơ</a></h3>
                </div>
                <div class="statistical flex">
                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                </div>
                <div class="author flex">
                    <a href="" class="author__img img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                    <div class="author__info">
                        <h4><a href="">Long Kaido</a></h4>
                        <span>Hà Nội</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section album_love container">
        <div class="header">
            <h2 class="title">Album mới được yêu thích</h2>
            <ul class="album__tab album__tab--love flex">
                <li><a href="javascript:;" title="Tất cả"><span>Tất cả</span></a></li>
                <li><a href="javascript:;" title="Ảnh cưới"><span>Ảnh cưới</span></a></li>
                <li><a href="javascript:;" title="Ảnh kỷ yếu"><span>Ảnh kỷ yếu</span></a></li>
            </ul>
        </div>
        <div class="album_list album_list_love row">
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb1.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb6.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb7.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="album_list album_list_love row">
            <div class="col-lg-3 col-md-3">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb6.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="album_list album_list_love row">
            <div class="col-lg-3 col-md-3">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb6.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Ảnh cưới</h5>
                            <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-btn">
            <a href="" class="btn btn-view-more btn-primary" title="Xem thêm thợ chụp hình"><span>Xem thêm thợ chụp hình</span></a>
        </div>
    </section>
    <section class="section photography container">
        <div class="header">
            <h2 class="title">Nhiếp ảnh gia phù hợp với bạn</h2>
        </div>
        <div class="album_list album_list_photography row">
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <div class="list_album_author">
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <div class="list_album_author">
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb7.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb8.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <div class="list_album_author">
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb3.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" class="thumb_album_photography img-container"><img src="./assets/images/thumb4.jpg" alt=""></a>
                            <div class="album__info flex">
                                <div class="info">
                                    <h5 class="category">Ảnh cưới</h5>
                                    <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                </div>
                                <div class="statistical flex">
                                    <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                    <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                    <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                    <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                </div>
                                <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-btn">
            <a href="" class="btn btn-view-more btn-primary" title="Xem thêm thợ chụp hình"><span>Xem thêm thợ chụp hình</span></a>
        </div>
    </section>
    <section class="section makeup container">
        <div class="header">
            <h2 class="title">Top Trang điểm</h2>
        </div>
        <div class="album_list album_list_makeup row">
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_makeup img-container"><img src="./assets/images/thumb10.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h3><a href="javascript:;" class="name">Makeup fashion model</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_makeup img-container"><img src="./assets/images/thumb4.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h3><a href="javascript:;" class="name">Makeup fashion model</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_makeup img-container"><img src="./assets/images/thumb1.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h3><a href="javascript:;" class="name">Makeup fashion model</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <a href="javascript:;" class="btn btn-book"><ion-icon name="add"></ion-icon> Đặt lịch</a>
                    </div>
                    <a href="" class="thumb_album_makeup img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h3><a href="javascript:;" class="name">Makeup fashion model</a></h3>
                        </div>
                        <div class="statistical flex">
                            <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                            <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                            <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                            <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                        </div>
                        <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-btn">
            <a href="" class="btn btn-view-more btn-primary" title="Xem thêm thợ trang điểm"><span>Xem thêm thợ trang điểm</span></a>
        </div>
    </section>
    <section class="section clothes container">
        <div class="header">
            <h2 class="title">BST Trang phục mới</h2>
            <ul class="album__tab album__tab--clothes flex">
                <li><a href="javascript:;" title="Tất cả"><span>Tất cả</span></a></li>
                <li><a href="javascript:;" title="Váy cưới"><span>Váy cưới</span></a></li>
                <li><a href="javascript:;" title="Áo dài"><span>Áo dài</span></a></li>
                <li><a href="javascript:;" title="Trang phục khác"><span>Trang phục khác</span></a></li>
            </ul>
        </div>
        <div class="album_list album_list_clothes row">
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <div class="price">800.000 vnđ/ngày</div>
                    </div>
                    <a href="" class="thumb_album_clothes img-container"><img src="./assets/images/thumb4.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Váy cưới</h5>
                            <h3><a href="javascript:;" class="name">BST váy cưới thu đông 2018</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <div class="price">800.000 vnđ/ngày</div>
                    </div>
                    <a href="" class="thumb_album_clothes img-container"><img src="./assets/images/thumb4.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Váy cưới</h5>
                            <h3><a href="javascript:;" class="name">BST váy cưới thu đông 2018</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="album_list album_list_clothes row">
            <div class="col-lg-4 col-md-6">
                <div class="album">
                    <div class="album__header flex">
                        <div class="author flex">
                            <a href="" class="author__img"><img src="./assets/images/thumb9.jpg" alt=""></a>
                            <div class="author__info">
                                <h4><a href="">Long Kaido</a></h4>
                                <span>Hà Nội</span>
                            </div>
                        </div>
                        <div class="like flex">
                            <ion-icon name="heart"></ion-icon> 123
                        </div>
                        <div class="price">800.000 vnđ/ngày</div>
                    </div>
                    <a href="" class="thumb_album_clothes img-container"><img src="./assets/images/thumb4.jpg" alt=""></a>
                    <div class="album__info flex">
                        <div class="info">
                            <h5 class="category">Váy cưới</h5>
                            <h3><a href="javascript:;" class="name">BST váy cưới thu đông 2018</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade popup-album" id="popup-clothes">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <div class="gallery">
                    <div class="slider slider-for">
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/thumb4.jpg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp1.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp2.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp3.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp4.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp5.jpeg" alt=""></div>
                        </div>
                    </div>
                    <div class="slider slider-nav">
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/thumb4.jpg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp1.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp2.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp3.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp4.jpeg" alt=""></div>
                        </div>
                        <div class="item">
                            <div class="img-container"><img src="./assets/images/pp5.jpeg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="popup_info flex">
                    <div class="col-left">
                        <h2 class="title">Bộ sưu tập váy cưới thu đông 2018</h2>
                        <div class="info flex">
                            <span class="category">Ảnh cưới</span>
                            <time>Ngày đăng: 01/05/2018</time>
                            <p class="price">Giá thuê <span>800.000 vnđ/ngày</span></p>
                            <p class="amount">Số lượng còn: <span>2 bộ</span></p>
                        </div>
                        <div class="flex">
                            <div class="author flex">
                                <a href="" class="author__img"><img src="./assets/images/thumb2.jpg" alt=""></a>
                                <div class="author__info">
                                    <h3><a href="">Long Fashion</a></h3>
                                    <span>Hà Nội</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <a href="" title="" class="btn btn-primary btn-book"><span><ion-icon name="add"></ion-icon> Đặt lịch thử đồ</span></a>
                                <a href="" title="" class="btn btn-primary btn-message"><span><ion-icon name="text"></ion-icon> Nhắn tin</span></a>
                            </div>
                        </div>
                        <article>
                            <p>Beauty expert and renowned makeup artist Sonia Kashuk, who has worked with the world’s top models, answers your questions and offers tips, tricks and tools to help you look your best.</p>
                            <p>Q: My makeup always looks great right after I’ve applied it but after a few hours it fades. How do you make your makeup last throughout the day?</p>
                        </article>
                        <div class="comment">
                            <div class="comment__list">
                                <div class="flex comment__item">
                                    <div class="author flex">
                                        <div class="author__info flex">
                                            <a href="javascript:;" class="author__img"><img src="./assets/images/pp2.jpeg" alt=""></a>
                                            <div class="info">
                                                <h3><a href="javascript:;">Long Kaido</a></h3>
                                                <span>Hà Nội</span>
                                            </div>
                                        </div>
                                        <span class="time">2 giờ trước</span>
                                    </div>
                                    <div class="comment__content">
                                        <p>Hello I am really excited for the book and thank you so much for giving it away for free , I cant imagine how much efforts you might have put into it , Really Appreciate !!</p>
                                    </div>
                                </div>
                            </div>
                            <form action="" method="" class="comment__form">
                                <label for="">Viết bình luận</label>
                                <textarea></textarea>
                                <button type="submit" class="btn btn-primary btn-submit">Đăng bình luận</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-right">
                        <ul class="statistical">
                            <li>
                                <h5><ion-icon name="heart"></ion-icon> Yêu thích?</h5>
                                <span>696</span>
                            </li>
                            <li>
                                <h5><ion-icon name="eye"></ion-icon> Lượt xem</h5>
                                <span>696</span>
                            </li>
                            <li>
                                <h5><ion-icon name="chatbubbles"></ion-icon> Bình luận</h5>
                                <span>20</span>
                            </li>
                            <li>
                                <h5><ion-icon name="share-alt"></ion-icon> Chia sẻ</h5>
                                <span>696</span>
                            </li>
                        </ul>
                        <div class="social flex">
                            <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href=""><ion-icon name="logo-googleplus"></ion-icon></a>
                            <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                            <a href=""><ion-icon name="logo-pinterest"></ion-icon></a>
                        </div>
                        <div class="tag">
                            <h4>Tags</h4>
                            <ul class="tag__list flex">
                                <li><a href="">Váy cưới</a></li>
                                <li><a href="">Áo dài</a></li>
                                <li><a href="">Đường lâm</a></li>
                                <li><a href="">truyền thống</a></li>
                            </ul>
                        </div>
                        <div class="collection">
                            <h4>Bộ sưu tập khác từ Long Fashion</h4>
                            <ul class="collection__list flex">
                                <li><a href=""><img src="./assets/images/thumb2.jpg" alt=""></a></li>
                                <li><a href=""><img src="./assets/images/thumb4.jpg" alt=""></a></li>
                                <li><a href=""><img src="./assets/images/pp1.jpeg" alt=""></a></li>
                                <li><a href=""><img src="./assets/images/pp2.jpeg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>