<main>
    <div class="container">
        <div class="policy">
            <h2 class="title">Điều khoản và chính sách</h2>
            <article>
                <h4>1. Vinyl Banners With Its Different Types Kinds And Applications</h4>
                <p>Okay, you’ve decided you want to make money with Affiliate Marketing. So, you join some affiliate programs and start submitting free ads to newsletters and free advertising classifieds sites. You’re going to make BIG money now — right?</p>
                <p>Nope! Sorry! Just sending out a few ads is not going to do it. Not if you want to be a real success. You must first determine your passion. I mean other than making the money! What is your hobby? What do you know how to do REALLY well? What is your job? Everyone has something that is their own special talent. Find yours. You probably have more than one thing that you are very interested in and do well. See if you can find five (ten if you’re really ambitious). Write them down in a list. Remember, you are going to be spending a lot of time working with this subject. Make sure you enjoy it!</p>
                <h4>2. Influencing The Influencer</h4>
                <p>Acne vulgaris (acne) is a condition, popular with teens and young adults, that is characterized by red, inflamed bumps and patches. These bumps and patches are formed by overactive sebacious glands (usually due to hormonal imbalances), high skin pH, oil, and basteria that thrive in these conditions. This acne can be worsened by summer heat, improper cleaning, itching and picking at the bumps (they are not pimples and will only get worse when picked at), pH imbalance, bad nutrition, etc…</p>
                <p>By changing our habits we can improve this condition. Using mild soaps and cleansers will prove less irritating. Eating a well balanced diet will average out the condition and slowly improve it. And we all know not to pick at acne postules and bumps, but to stop it and possibly cure it we have to get to the source deep in the skin.</p>
                <ul>
                    <li>Surface treatments like benzoyl peroxide creams and solutions are at best minimally effective and can further irritate the condition. We need to get several layers down to the source, the bacteria, inflamation, and the sebacious glands where acne forms.</li>
                    <li>Plastic surgeons know that glycolic and salicylic peels are better than hydrogen peroxide treatments, but they will not reach the source. This is where plastic surceons and doctors use TCA peels (trichloroacetic acid) which is a deeper peel to reach the source, change the skin pH (which kills off the bacteria – they cannot survive in high acidity conditions), and increase skin regeneration by sloughing off several layers. TCA peels have been clinically prove to treat and cure acne better than any other treatment (including lasers and Accutane) without any of the horrible side effects).</li>
                    <li>TCA peels used to be something only the wealthy could afford, but not anymore. You can still go to your doctor and pay $500+ or you can do it yourself. TCA peels are the easiest, safest, and most effective of all the skin peels and are now easily available. For more details about TCA peels contact the author below or look it up on the internet. Get a TCA peel and start enjoying cleaner, more youthful skin and stop wasting your money on products that don’t work.</li>
                </ul>
            </article>
        </div>
    </div>
</main>