<main class="category">
    <div class="makeup container">
        <div class="header header_serivce flex">
            <div class="filter flex">
                <div class="filter_item flex">
                    <h5>Khu vực:</h5>
                    <select name="location">
                        <option value="0">Tất cả</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">Băc Ninh</option>
                    </select>
                </div>
                <div class="filter_item flex">
                    <h5>Sắp xếp theo:</h5>
                    <select name="order-list">
                        <option value="1">Yêu thích nhiều nhất</option>
                        <option value="2">Được xem nhiều nhất</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab_content_service row">
           <div class="col-lg-12 col-md-12">
               <div class="item_service service_makeup">
                   <div class="author author_service flex">
                       <a href="service-makeup-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                       <div class="detail">
                           <h3><a href="service-makeup-profile.html">Long Makeup</a></h3>
                           <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                           <div class="btns flex">
                               <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                               <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                           </div>
                       </div>
                   </div>
                   <div class="slider_album slider_album_makeup">
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb11.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb11.jpg" alt=""></a>
                       </div>
                   </div>
                   <div class="package flex">
                       <h4>Giá gói makeup</h4>
                       <ul class="package__list flex">
                           <li>
                               <p>Trang điểm cô dâu <span>450.000 vnđ</span></p>
                           </li>
                           <li>
                               <p>Trang điểm kỷ yếu <span>250.000 vnđ</span></p>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="item_service service_makeup">
                   <div class="author author_service flex">
                       <a href="service-makeup-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                       <div class="detail">
                           <h3><a href="service-makeup-profile.html">Long Makeup</a></h3>
                           <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                           <div class="btns flex">
                               <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                               <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                           </div>
                       </div>
                   </div>
                   <div class="slider_album slider_album_makeup">
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb11.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb11.jpg" alt=""></a>
                       </div>
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb10.jpg" alt=""></a>
                       </div>
                   </div>
                   <div class="package flex">
                       <h4>Giá gói makeup</h4>
                       <ul class="package__list flex">
                           <li>
                               <p>Trang điểm cô dâu <span>450.000 vnđ</span></p>
                           </li>
                           <li>
                               <p>Trang điểm kỷ yếu <span>250.000 vnđ</span></p>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
            <div class="loading">
                <div class="loading-inner">
                    <span class="name">Đang tải thêm</span>
                    <p class="an-loading"><span></span><span></span><span></span><span></span></p>
                </div>
            </div>
        </div>
    </div>
</main>