<main class="category">
    <div class="collection container">
        <div class="header header_serivce flex">
            <ul class="tab_select_service flex">
                <li><a href="javascript:;" title="Tất cả"><span>Tất cả</span></a></li>
                <li><a href="javascript:;" title="Váy cưới"><span>Váy cưới</span></a></li>
                <li><a href="javascript:;" title="Áo dài"><span>Áo dài</span></a></li>
                <li><a href="javascript:;" title="Trang phục khác"><span>Trang phục khác</span></a></li>
            </ul>
            <div class="filter flex">
                <div class="filter_item flex">
                    <h5>Khu vực:</h5>
                    <select name="location">
                        <option value="0">Tất cả</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">Băc Ninh</option>
                    </select>
                </div>
                <div class="filter_item flex">
                    <h5>Sắp xếp theo:</h5>
                    <select name="order-list">
                        <option value="1">Yêu thích nhiều nhất</option>
                        <option value="2">Được xem nhiều nhất</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab_content_service row">
            <div class="col-lg-6 col-md-6">
               <div class="item_service">
                   <div class="author author_service flex">
                       <a href="service-clothes-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                       <div class="detail">
                           <h3><a href="service-clothes-profile.html">Long Dress</a></h3>
                           <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                           <div class="btns flex">
                               <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                               <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                           </div>
                       </div>
                   </div>
                   <div class="slider_album slider_album_clothes">
                       <div class="item">
                           <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb5.jpg" alt=""></a>
                       </div>
                       <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb12.jpg" alt=""></a>
                        </div>
                   </div>
               </div>
           </div>
            <div class="col-lg-6 col-md-6">
                <div class="item_service">
                    <div class="author author_service flex">
                        <a href="service-clothes-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        <div class="detail">
                            <h3><a href="service-clothes-profile.html">Long Dress</a></h3>
                            <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                            <div class="btns flex">
                                <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                                <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_album slider_album_clothes">
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb12.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb4.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="item_service">
                    <div class="author author_service flex">
                        <a href="service-clothes-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        <div class="detail">
                            <h3><a href="service-clothes-profile.html">Long Dress</a></h3>
                            <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                            <div class="btns flex">
                                <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                                <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_album slider_album_clothes">
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb12.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading">
                <div class="loading-inner">
                    <span class="name">Đang tải thêm</span>
                    <p class="an-loading"><span></span><span></span><span></span><span></span></p>
                </div>
            </div>
        </div>
        <div class="tab_content_service row">
            <div class="col-lg-6 col-md-6">
                <div class="item_service">
                    <div class="author author_service flex">
                        <a href="service-clothes-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        <div class="detail">
                            <h3><a href="service-clothes-profile.html">Long Dress</a></h3>
                            <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                            <div class="btns flex">
                                <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                                <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_album slider_album_clothes">
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb12.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="item_service">
                    <div class="author author_service flex">
                        <a href="service-clothes-profile.html" class="avatar img-container"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        <div class="detail">
                            <h3><a href="service-clothes-profile.html">Long Dress</a></h3>
                            <p>Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                            <div class="btns flex">
                                <a href="" class="btn btn-primary"><span><ion-icon name="add"></ion-icon> Đặt Lịch</span></a>
                                <a href="" class="btn btn-primary"><span><ion-icon name="chatbubbles"></ion-icon> Nhắn tin</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_album slider_album_clothes">
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb5.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb12.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="thumb_slide"><img src="./assets/images/thumb4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading">
                <div class="loading-inner">
                    <span class="name">Đang tải thêm</span>
                    <p class="an-loading"><span></span><span></span><span></span><span></span></p>
                </div>
            </div>
        </div>
    </div>
</main>