<main>
    <div class="makeup container mt40">
        <div class="row">
            <div class="col-lg-3">
                <div class="profile">
                    <div class="profile_inner">
                        <div class="avatar">
                            <img src="./assets/images/thumb10.jpg" alt="">
                        </div>
                        <h4 class="name">Long Kaido</h4>
                        <span class="service">Thợ trang điểm</span>
                        <p class="address">Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                        <ul class="statistical">
                            <li>
                                <h5>Kinh nghiệm</h5>
                                <span>3 năm</span>
                            </li>
                            <li>
                                <h5>Phân khúc</h5>
                                <span>Trung cấp</span>
                            </li>
                            <li>
                                <h5><ion-icon name="heart"></ion-icon> Yêu thích?</h5>
                                <span>696</span>
                            </li>
                            <li>
                                <h5><ion-icon name="star"></ion-icon> Chấm điểm</h5>
                                <span>9.6</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btns">
                        <a href="" class="btn btn-primary btn-book" title="Đặt lịch trang điểm"><span><ion-icon name="add"></ion-icon> Đặt lịch trang điểm</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <ul class="tab tab_makeup tab_line flex">
                    <li><a href="javascript:;" title="Mẫu trang điểm">Mẫu trang điểm</a></li>
                    <li><a href="javascript:;" title="Dịch vụ trang điểm">Dịch vụ trang điểm</a></li>
                    <li><a href="javascript:;" title="Nhận xét">Nhận xét</a></li>
                </ul>
                <div class="tab_content tab_content_makeup">
                    <div class="album_list album_list_photo row">
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album img-container"><img src="./assets/images/thumb11.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h3><a href="javascript:;" class="name">Makeup fashion model</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album img-container thumb_video"><img src="./assets/images/thumb1.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album img-container"><img src="./assets/images/thumb6.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loading">
                        <div class="loading-inner">
                            <span class="name">Đang tải thêm</span>
                            <p class="an-loading"><span></span><span></span><span></span><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="tab_content tab_content_makeup">
                    <div class="makeup_detail">
                        <div class="info">
                            <div class="item flex">
                                <h5>Khu vực</h5>
                                <div class="summary">
                                    <p><span>Hà Nội, Hải Dương, Bắc Ninh, Hưng Yên, Nam Định, Hải Phòng</span></p>
                                </div>
                            </div>
                            <div class="item flex">
                                <h5>Mô tả</h5>
                                <div class="summary">
                                    <p>Makeup có tâm nhât miền Bắc. Sử dụng các loại mỹ phẩm cao cấp: Oreal, Orio, Channel… Trang điểm, tạo kiểu tóc từ a-z.</p>
                                    <p>Nhân dịp tết thiếu nhi 1/6: Khuyến mại 100k cho đơn từ 3 ngừoi trở lên</p>
                                </div>
                            </div>
                        </div>
                        <div class="table_ch">
                            <h4>Bảng giá</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loại trang điểm</th>
                                        <th>Đơn giá (vnđ/người)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Trang điểm cô dâu</td>
                                        <td>300.000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Trang điểm người nhà cô dâu chú rể</td>
                                        <td>200.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab_content tab_content_makeup">
                    <div class="comment">
                        <ul class="comment_list">
                            <li>
                                <div class="author">
                                    <a class="author_info flex" href="">
                                        <img src="assets/images/rectangle-3.jpg" alt="">
                                        <p>
                                            <span class="name">Long Kaido</span>
                                            <span class="address">Hà Nội</span>
                                        </p>
                                    </a>
                                    <time>3 giờ trước</time>
                                    <div class="rateing">
                                        <div class="value" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Some people find it hard to find the right perfume. This may smell good when this is sprayed into the air but this changes when this reacts with the skin. Those who are tired of this problem can stop looking and instead make one . The first step is to get all the materials together. A lot of people focus on the oils and the other liquids and forgetting the basics such as the test tubes, glass beakers and measuring cups.</p>
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <a class="author_info flex" href="">
                                        <img src="assets/images/pp2.jpeg" alt="">
                                        <p>
                                            <span class="name">Long Kaido</span>
                                            <span class="address">Hà Nội</span>
                                        </p>
                                    </a>
                                    <time>3 giờ trước</time>
                                    <div class="rateing">
                                        <div class="value" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Some people find it hard to find the right perfume. This may smell good when this is sprayed into the air but this changes when this reacts with the skin. Those who are tired of this problem can stop looking and instead make one . The first step is to get all the materials together. A lot of people focus on the oils and the other liquids and forgetting the basics such as the test tubes, glass beakers and measuring cups.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="comment_box">
                            <h4>Đánh giá của bạn</h4>
                            <form action="" method="post">
                                <h5>Chấm điểm</h5>
                                <div class="rateing-user">
                                    <input type="radio" name="rating" value="1"><i></i>
                                    <input type="radio" name="rating" value="1.5"><i></i>
                                    <input type="radio" name="rating" value="2"><i></i>
                                    <input type="radio" name="rating" value="2.5"><i></i>
                                    <input type="radio" name="rating" value="3"><i></i>
                                    <input type="radio" name="rating" value="3.5"><i></i>
                                    <input type="radio" name="rating" value="4"><i></i>
                                    <input type="radio" name="rating" value="4.5"><i></i>
                                    <input type="radio" name="rating" value="5"><i></i>
                                    <input type="radio" name="rating" value="5.5"><i></i>
                                </div>
                                <div class="frm-group">
                                    <textarea placeholder="Nhận xét…" required=""></textarea>
                                </div>
                                <div class="frm-group group_submit">
                                    <input type="submit" name="" class="btn-submit" value="Gửi đánh giá">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>