<main>
    <div class="photo container mt40">
        <div class="row">
            <div class="col-lg-3">
                <div class="profile">
                    <div class="profile_inner">
                        <div class="avatar">
                            <img src="./assets/images/thumb10.jpg" alt="">
                        </div>
                        <h4 class="name">Long Kaido</h4>
                        <span class="service">Nhiếp ảnh gia</span>
                        <p class="address">Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                        <ul class="statistical">
                            <li>
                                <h5>Kinh nghiệm</h5>
                                <span>3 năm</span>
                            </li>
                            <li>
                                <h5>Phân khúc</h5>
                                <span>Trung cấp</span>
                            </li>
                            <li>
                                <h5><ion-icon name="heart"></ion-icon> Yêu thích?</h5>
                                <span>696</span>
                            </li>
                            <li>
                                <h5><ion-icon name="star"></ion-icon> Chấm điểm</h5>
                                <span>9.6</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btns">
                        <a href="" class="btn btn-primary btn-book" title="Đặt lịch chụp hình"><span><ion-icon name="add"></ion-icon> Đặt lịch chụp hình</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <ul class="tab tab_photo tab_line flex">
                    <li><a href="javascript:;" title="Album ảnh">Album ảnh</a></li>
                    <li><a href="javascript:;" title="Các gói chụp">Các gói chụp</a></li>
                    <li><a href="javascript:;" title="Nhận xét">Nhận xét</a></li>
                </ul>
                <div class="tab_content tab_content_photo">
                    <div class="album_list album_list_photo row">
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb2.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h5 class="category">Ảnh cưới</h5>
                                        <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb1.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h5 class="category">Ảnh cưới</h5>
                                        <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="album">
                                <a href="" class="thumb_album_love img-container"><img src="./assets/images/thumb6.jpg" alt=""></a>
                                <div class="album__info flex">
                                    <div class="info">
                                        <h5 class="category">Ảnh cưới</h5>
                                        <h3><a href="javascript:;" class="name">Lan và Điệp - Thung Nai</a></h3>
                                    </div>
                                    <div class="statistical flex">
                                        <p><ion-icon ios="ios-eye" md="md-eye"></ion-icon>696</p>
                                        <p><ion-icon ios="ios-heart" md="md-heart"></ion-icon>69 </p>
                                        <p><ion-icon ios="ios-text" md="md-text"></ion-icon>2</p>
                                        <p><ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>3</p>
                                    </div>
                                    <a href="" class="btn btn-view-price" title="Xem giá"><span>Xem giá</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loading">
                        <div class="loading-inner">
                            <span class="name">Đang tải thêm</span>
                            <p class="an-loading"><span></span><span></span><span></span><span></span></p>
                        </div>
                    </div>
                </div>
                <div class="tab_content tab_content_photo">
                    <div class="package_photo flex">
                        <div class="package">
                            <h4>Ảnh cưới nội thành</h4>
                            <a href="service-photo-detail.html" title="Xem chi tiết" class="btn-view">Xem chi tiết</a>
                            <div class="info">
                                <p>Số lượng điểm chụp: <span>5</span></p>
                                <p>1 phim trường + 4 điểm dã ngoại </p>
                                <p>Khuyễn mãi giảm 10% cho các lịch tháng 7</p>
                                <p class="price">2.000.000 vnđ</p>
                            </div>
                            <div class="book pr">
                                <ion-icon ios="ios-add" md="md-add" data-toggle="modal" data-target="#book-calendar-photo"></ion-icon>
                                <a href="javascript:void(0)" class="btn_book" title="Đặt gói này">
                                    <span>Đặt gói này</span>
                                </a>
                            </div>
                        </div>
                        <div class="package">
                            <h4>Ảnh cưới nội thành</h4>
                            <a href="service-photo-detail.html" title="Xem chi tiết" class="btn-view">Xem chi tiết</a>
                            <div class="info">
                                <p>Số lượng điểm chụp: <span>5</span></p>
                                <p>1 phim trường + 4 điểm dã ngoại </p>
                                <p>Khuyễn mãi giảm 10% cho các lịch tháng 7</p>
                                <p class="price">2.000.000 vnđ</p>
                            </div>
                            <div class="book pr">
                                <ion-icon ios="ios-add" md="md-add" data-toggle="modal" data-target="#book-calendar-photo"></ion-icon>
                                <a href="javascript:void(0)" class="btn_book" title="Đặt gói này">
                                    <span>Đặt gói này</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab_content tab_content_photo">
                    <div class="comment">
                        <ul class="comment_list">
                            <li>
                                <div class="author">
                                    <a class="author_info flex" href="">
                                        <img src="assets/images/rectangle-3.jpg" alt="">
                                        <p>
                                            <span class="name">Long Kaido</span>
                                            <span class="address">Hà Nội</span>
                                        </p>
                                    </a>
                                    <time>3 giờ trước</time>
                                    <div class="rateing">
                                        <div class="value" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Some people find it hard to find the right perfume. This may smell good when this is sprayed into the air but this changes when this reacts with the skin. Those who are tired of this problem can stop looking and instead make one . The first step is to get all the materials together. A lot of people focus on the oils and the other liquids and forgetting the basics such as the test tubes, glass beakers and measuring cups.</p>
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <a class="author_info flex" href="">
                                        <img src="assets/images/pp2.jpeg" alt="">
                                        <p>
                                            <span class="name">Long Kaido</span>
                                            <span class="address">Hà Nội</span>
                                        </p>
                                    </a>
                                    <time>3 giờ trước</time>
                                    <div class="rateing">
                                        <div class="value" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Some people find it hard to find the right perfume. This may smell good when this is sprayed into the air but this changes when this reacts with the skin. Those who are tired of this problem can stop looking and instead make one . The first step is to get all the materials together. A lot of people focus on the oils and the other liquids and forgetting the basics such as the test tubes, glass beakers and measuring cups.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="comment_box">
                            <h4>Đánh giá của bạn</h4>
                            <form action="" method="post">
                                <h5>Chấm điểm</h5>
                                <div class="rateing-user">
                                    <input type="radio" name="rating" value="1"><i></i>
                                    <input type="radio" name="rating" value="1.5"><i></i>
                                    <input type="radio" name="rating" value="2"><i></i>
                                    <input type="radio" name="rating" value="2.5"><i></i>
                                    <input type="radio" name="rating" value="3"><i></i>
                                    <input type="radio" name="rating" value="3.5"><i></i>
                                    <input type="radio" name="rating" value="4"><i></i>
                                    <input type="radio" name="rating" value="4.5"><i></i>
                                    <input type="radio" name="rating" value="5"><i></i>
                                    <input type="radio" name="rating" value="5.5"><i></i>
                                </div>
                                <div class="frm-group">
                                    <textarea placeholder="Nhận xét…" required=""></textarea>
                                </div>
                                <div class="frm-group group_submit">
                                    <input type="submit" name="" class="btn-submit" value="Gửi đánh giá">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>