<main>
    <div class="photo container mt40">
        <div class="row">
            <div class="col-lg-3">
                <div class="profile">
                    <div class="profile_inner">
                        <div class="avatar">
                            <img src="./assets/images/thumb10.jpg" alt="">
                        </div>
                        <h4 class="name">Long Kaido</h4>
                        <span class="service">Nhiếp ảnh gia</span>
                        <p class="address">Sô 3, Ngõ 89, Nguyễn Văn Cừ, Long biên, Hà Nội</p>
                        <ul class="statistical">
                            <li>
                                <h5>Kinh nghiệm</h5>
                                <span>3 năm</span>
                            </li>
                            <li>
                                <h5>Phân khúc</h5>
                                <span>Trung cấp</span>
                            </li>
                            <li>
                                <h5><ion-icon name="heart"></ion-icon> Yêu thích?</h5>
                                <span>696</span>
                            </li>
                            <li>
                                <h5><ion-icon name="star"></ion-icon> Chấm điểm</h5>
                                <span>9.6</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btns">
                        <a href="" class="btn btn-primary btn-book" title="Đặt lịch chụp hình"><span><ion-icon name="add"></ion-icon> Đặt lịch chụp hình</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="package_header flex pr">
                    <a class="btn-back" href="javascript:history.back()" title="Trở lại">
                        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                        Trở lại
                    </a>
                    <h4 class="title">Chi tiết gói chụp ảnh</h4>
                </div>
                <div class="package_detail">
                    <div class="header flex">
                        <h2>Ảnh cưới - nội thành Hà Nội</h2>
                        <a href="javascript:void(0)" title="Chọn gói này" class="btn_select_package flex" data-toggle="modal" data-target="#book-calendar-photo">
                            <ion-icon ios="ios-add" md="md-add"></ion-icon>
                            Chọn gói này
                        </a>
                    </div>
                    <div class="info">
                        <p class="amout">Số điểm chụp: <span>5</span></p>
                        <p>1 phim trường + 4 điểm dã ngoại </p>
                        <p>Khuyễn mãi giảm 10% cho các lịch tháng 7</p>
                        <p class="hand">Bàn giao: <span>Toàn bộ file gốc và đã chỉnh sửa</span></p>
                        <p class="price">Giá: <span>2.000.000 vnđ</span></p>
                        <p class="note">*Chú ý: <span>Giá gói chụp đã bao gồm vé vào cửa phim trường</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>